html{
    scroll-behavior: smooth;
    font-family: 'Noto Sans Wancho', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 200vh;
    background-color: #3c5143;
}

nav{  
    position: fixed;
    display: flex;
    align-items: left;
    background-color: #e76b1f;
    width: 100vw;
    z-index: 1;
    margin: 0;
    justify-content: space-between;
}

nav > a {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
    
}

nav img{
    width: 20vh;
    margin-left: 2.5vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

#botoes{
    margin-right: 5%;
    margin-top: 3.1vh;
}
#botao{
    margin-right: 3vw;
    text-decoration:none;    
    color: black;
    border: solid #592a0d;
border-width: 3px;
border-radius: 10px;
background-color: #e3c4b0;
    border-radius: 9px;
    padding: 9px;
}

header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ef5122;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;

}

#banner{

    display: block;
	margin-left: auto;
	margin-right: auto;
    margin-top: 10px;
    width: 100vw;
	margin-bottom: 5%;
    z-index: 0;
    position: center;

}

#bannerimg{
    width: 100vw;
}

#titulo{
    margin-top: -37vh;
}


.box{
    background-color: aqua;
    height: 1000px;
    width: 50px;
    position: center;
}
.box2{
    background-color: aqua;
    height: 8vh;
    width: 50px;
    position: center;
}


#aventurasSection{
    width: 95vw;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 95vw;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	max-width: fit-content;
	justify-content: center;
}
.aventurasCSS {
	margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 20%;
    transition: all 1s;
}

#adicionarAventura{
    background-color: #e76b1f;
    width: 30vw;
	height: fit-content;
	position: relative;
	transform-style: preserve-3d;

	border-radius: 40px;
}





#aventurasAdicionadas{
    width: 30vw;
	height: fit-content;
	position: relative;
	transform-style: preserve-3d;
	border-radius: 40px;
    background-color: #e76b1f;

}

#aventurasTitulo{

    position: center;
    text-align: center;
}


.formularioCSS{
    border-radius: 10px;
    background-color: #b45216;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 15%;
}

#enviar1{
    margin-left: 5%;
    margin-bottom: 10%;
    margin-right: 15%;
    border: solid #592a0d;

    border-width: 3px;
border-radius: 10px;
background-color: #e3c4b0;
}
#enviar2{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    border: solid #592a0d;

    border-width: 3px;
border-radius: 10px;
background-color: #e3c4b0;
}
#enviar3{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    border: solid #592a0d;

    border-width: 3px;
border-radius: 10px;
background-color: #e3c4b0;
}



#nome{
border: solid #592a0d;
border-width: 3px;
border-radius: 10px;
background-color: #e3c4b0;
margin-bottom: 5%;
margin-left: 5%;
}
input::placeholder {
    color: black;
    font-family: 'Noto Sans Wancho', sans-serif;
  }

.padding{
    padding: 5%;
} 


#descricao{
    border: solid #592a0d;
    border-width: 3px;
    border-radius: 10px;
    background-color: #e3c4b0;
    margin-bottom: 5%;
    margin-left: 5%;

    resize: none;
}
textarea::placeholder {
  color: black;
  font-family: 'Noto Sans Wancho', sans-serif;
}


#resultado{
    margin-left: 5%;
    margin-bottom: 10%;
    margin-right: 15%;
}
.esconder{
    visibility: hidden;
}



/*ANIMACAO*/
[data-anime] {
	opacity: 1;
	transition: .6s;
}

[data-anime="left"] {
	transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
	transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
	opacity: 1;
	transform: translate3d(0vw, -100vh, 0px);
}

/*animaçao das sombras*/

.aventurasCSS:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

    -webkit-transform: translate(-3%,-10%) scale(1.07);
    transform: translate(-3%,-10%) scale(1.07);
}



/*RESPONSIVIDADE*/
@media (max-width: 700px) {


}

@media (min-width: 700px) {


}